{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <style type="text/css">
    body {
        background-color: #34445b;
        color: white;
    }
    h1 {
        color: white;
        display: grid;
        justify-content: center;
        font-family: Montserrat Bold;
    }
    form {
        padding: 5%;
        color: white;
        display: grid;
        justify-content: center;
        margin-bottom: 5%;
    }
    div {
        color: white;
        display: grid;
        row-gap: 1rem;
    }
    label {
        padding: 15%;
    }
    input {
        background-color: #1f2833;
        color: white;
        border-radius: 2px;
        border: none;
        height: 150%;
    }
    button {
        background-color: #ffbc00;
        color: white;
        border-radius: 10px;
        border: none;
        height: 150%;
        margin-top: 10%;
    }
    a {
        padding: 5%;
        color: white;
        display: grid;
        justify-content: center;
        text-decoration: none;
    }
    </style>
    <h1>Inscription</h1>
 
    {{ form_start(registrationForm) }} 
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.pseudo) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'}) 
        }}
        {{ form_row(registrationForm.agreeTerms) }}
        <button type="submit" class="btn">Créer un compte</button>
    {{ form_end(registrationForm) }}
{% endblock %}
