{% extends 'base.html.twig' %}

{% block title %}Hello SearchMaterialController!{% endblock %}

{% block body %}

    {{ form_start(form) }}
        {{ form_widget(form) }}
            <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}

    {% for material in materials %}
        {{material.type}}
        {{material.trademark}}
        {{material.model}}
        {{material.year}}
    {% endfor %}   

    {{calculPoints}} points

{% endblock %}
